body{
    padding: 0px;
    margin: 0px;
}

.nav{
    display: flex;
    justify-content: space-between;
    scroll-behavior: smooth;
}
.nav img{
    width: 250px;
    height: 250px;
    margin-right:10px ;
    border-radius: 5px;
}